
body {
    background-color: rgb(230, 230, 230);
}
.dis-none {
    border: 1px solid grey;

}
.w-20 {
    width: 20%;
}
.w-10 {
    width: 9%;
    padding: 0;
}
.nodeco {
    list-style: none;
}
.dis-none1 {
    display: none;
}
.h-30 {
    height: 30px;
}
.prox {
    padding: 11px;
    border: 2px solid black;
}
.margin-aw {
    margin-bottom: 23.75px;
}